.gif {
  background-color: #ecf0f1;
  padding: 1rem 0;
  text-align: center;
}

.gif__title {
  color: #1abc9c;
}

.gif__form {
  margin: 1rem 0;
}

.gif__form input, .search {
  display: block;
  margin: 0 auto 1rem;
  border: 1px solid #bdc3c7;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
}

.gif__form button, .button {
  background-color: #1abc9c;
  color: #ecf0f1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.gif__result {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.gif__result__image {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.gif__result__description {
  color: #34495e;
}

.images {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 30%;
  margin: 1rem 0;
}

.image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Loading */
.loading {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #1abc9c;
}
