.container {
  padding: 2rem;
  text-align: center;
}

.table {
  margin: 0 auto;
  border: 1px solid #ecf0f1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table__row {
  border: 1px solid #ecf0f1;
}

.table__head {
  background-color: #1abc9c;
  color: #fff;
}

.table, .table__header, .table__data {
  border-collapse: collapse;
}

.table__header, .table__data {
  padding: 14px 10px;
}

.table__data {
  color: #808080;
}

.search {
  border: 1px solid #bdc3c7;
  margin: 0.5rem auto;
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
}

.button {
  background-color: #1abc9c;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}