.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  list-style: none;
  background-color: #ecf0f1;
}

.nav_link {
  cursor: pointer;
  color: #1abc9c;
  text-decoration: none;
}

.logout {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}